<div class="banner" style="background-image: url('http://419a5ecf000c70751b96-2d268c5dae618615daa5314a1f0f4b99.r77.cf1.rackcdn.com/restaurants-irs/235125/EclipseCocktails1.png');"">
  <div class="banner-content">
    <h1>Welcome to the Mecca of Cocktails</h1>
    <p>The home of sharing the coolest cocktails</p>
    <%= link_to "Create a cocktail", new_cocktail_path, class: "btn btn-primary" %>
  </div>
</div>
